<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding data</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>Django Web Application insert data</h1>
        <br/>
        <form method="POST">
            {% csrf_token %}
        <table border="1">
        <tr>
            <td>Driver name</td>
            <td><input type="text" placeholder="enter name" name="name"></td>
        </tr>
            <tr>
            <td>Driver license</td>
            <td><input type="text" placeholder="enter license" name="license"></td>
        </tr>
            <tr>
                <td><input type="submit" value="Insert"></td>
                <td>{% if messages %}
    {% for mess in messages %}
    <b style="color:green;">{{mess}}</b>
    {% endfor %}
    {% endif %}

                </td>
            </tr>

        </table>
        </form>
    </div>


</body>
</html>